<div class="card">
    <h5>Projects</h5>
    <p>Search for the projects below.</p>
    <p-table [value]="projects" selectionMode="single" [(selection)]="selectedProject" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Project Number</th>
                <th>Project Name</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr (dblclick)="openProject(project)" [pSelectableRow]="project">
                <td>{{project.id}}</td>
                <td>{{project.projectNumber}}</td>
                <td>{{project.projectName}}</td>
                <td>{{project.status}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>