<nb-card *ngIf="workOrderInfo">
    <nb-card-body>
        <p-tabView (onChange)="tabChanged()">
            <p-tabPanel header="Details">
                <div class="d-flex mb-3 tab-panel-wrapper">
                    <div class="tab-panel">
                        <p-tabView styleClass="inner-tab-view">
                            <p-tabPanel header="Files">
                            </p-tabPanel>
                            <p-tabPanel header="Photos">
                            </p-tabPanel>
                            <p-tabPanel [selected]="true" header="Contacts">
                                <div class="address" (click)="navigateToGMapsAddress()">
                                    {{ workOrderInfo.info.Address }}</div>
                                <form [formGroup]="projectForm">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <label class="label">Project #</label>
                                            <input formControlName="ProjectNumber" class="form-control disabled"
                                                type="text" nbInput fullWidth>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="label">Project
                                                Type</label>
                                            <input formControlName="ProjectType" class="form-control disabled"
                                                type="text" nbInput fullWidth>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="label">Project Name and
                                            Description</label>
                                        <input formControlName="ProjectName" class="form-control disabled" type="text"
                                            nbInput fullWidth>
                                        <small
                                            *ngIf="(workOrderForm.get('InspectionTypeID').touched || formValidationService.formSubmitAttempt) && workOrderForm.get('InspectionTypeID').errors?.required"
                                            class="text-danger">Inspection Type is required.</small>
                                    </div>
                                </form>
                            </p-tabPanel>
                            <p-tabPanel header="History">
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                    <div class="tab-panel">
                        <form [formGroup]="workOrderForm">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="label">W.O. #</label>
                                    <input formControlName="WorkOrderNumber" class="form-control disabled" type="text"
                                        nbInput fullWidth placeholder="Password">
                                </div>
                                <div class="col-md-4">
                                    <label class="label">W.O. Created</label>
                                    <div class="input-group-calendar">
                                        <input formControlName="WOCreatedDate" class="form-control disabled" type="text"
                                            nbInput fullWidth [nbDatepicker]="formpicker" #workOrderCreatedDate
                                            placeholder="Work Order Created Date">
                                        <nb-datepicker #formpicker></nb-datepicker>
                                        <svg class="calendar-icon" viewBox="0 0 24 24" role="presentation"
                                            style="width: 1.05rem; height: 1.05rem;">
                                            <path
                                                d="M19,4H18V2H16V4H8V2H6V4H5C3.89,4 3,4.9 3,6V20A2,2 0 0,0 5,22H19A2,2 0 0,0 21,20V6A2,2 0 0,0 19,4M19,20H5V10H19V20M19,8H5V6H19V8M12,13H17V18H12V13Z"
                                                style="fill: currentcolor;"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="label">Status</label>
                                    <nb-select formControlName="StatusID" class="form-control" fullWidth
                                        placeholder="Status">
                                        <nb-option *ngFor="let option of workOrderInfo.info.WorkOrderStatuses"
                                            value="{{ option.StatusID.toString() }}">
                                            {{ option.Description }}</nb-option>
                                    </nb-select>
                                    <small
                                        *ngIf="(workOrderForm.get('StatusID').touched || formValidationService.formSubmitAttempt) && workOrderForm.get('StatusID').errors?.required"
                                        class="text-danger">Status is required.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Inspector</label>
                                <nb-select formControlName="InspectorID" class="form-control" fullWidth
                                    placeholder="Inspector">
                                    <nb-option *ngFor="let option of workOrderInfo.info.AssignableInspectors"
                                        value="{{ option.UserID.toString() }}">
                                        {{ option.Name }}</nb-option>
                                </nb-select>
                                <small
                                    *ngIf="(workOrderForm.get('InspectorID').touched || formValidationService.formSubmitAttempt) && workOrderForm.get('InspectorID').errors?.required"
                                    class="text-danger">Inspector is required.</small>
                            </div>
                            <div class="form-group">
                                <label class="label">Inspection Type</label>
                                <nb-select formControlName="InspectionTypeID" fullWidth class="form-control"
                                    placeholder="Inspection Type">
                                    <nb-option *ngFor="let option of workOrderInfo.info.AvailableInspectionTypes;"
                                        value="{{ option.InspectionTypeID.toString() }}">
                                        {{ option.Description }}</nb-option>
                                </nb-select>
                            </div>
                            <div class="form-group">
                                <label class="label">Scheduled Date</label>
                                <div class="input-group-calendar">
                                    <input formControlName="ScheduledDate" type="text" class="form-control" nbInput
                                        fullWidth placeholder="Scheduled Date" #scheduledDateInput
                                        [nbDatepicker]="formpicker1">
                                    <nb-datepicker #formpicker1></nb-datepicker>
                                    <svg class="calendar-icon" (click)="scheduledDateInput.click()" viewBox="0 0 24 24"
                                        role="presentation" style="width: 1.05rem; height: 1.05rem;">
                                        <path
                                            d="M19,4H18V2H16V4H8V2H6V4H5C3.89,4 3,4.9 3,6V20A2,2 0 0,0 5,22H19A2,2 0 0,0 21,20V6A2,2 0 0,0 19,4M19,20H5V10H19V20M19,8H5V6H19V8M12,13H17V18H12V13Z"
                                            style="fill: currentcolor;"></path>
                                    </svg>
                                </div>
                                <small
                                    *ngIf="(workOrderForm.get('ScheduledDate').touched || formValidationService.formSubmitAttempt) && workOrderForm.get('ScheduledDate').errors?.required"
                                    class="text-danger">Scheduled Date is required.</small>
                            </div>
                            <div class="form-group">
                                <label class="label">Notes</label>
                                <textarea formControlName="Notes" rows="5" nbInput fullWidth shape="round"
                                    placeholder="Notes" class="form-control"></textarea>
                                <small
                                    *ngIf="(workOrderForm.get('Notes').touched || formValidationService.formSubmitAttempt) && workOrderForm.get('Notes').errors?.required"
                                    class="text-danger">Notes are required.</small>
                            </div>
                            <button type="submit" class="btn btn-success" (click)="updateWorkOrder()">UPDATE WORK
                                ORDER</button>
                        </form>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Info">
                Additional Information content goes here...
            </p-tabPanel>
            <p-tabPanel header="Report">
                <div class="d-flex mb-3 tab-panel-wrapper">
                    <div class="tab-panel">
                        <div class="address" (click)="navigateToGMapsAddress()">
                            {{ workOrderInfo.info.Address }}</div>
                        <form [formGroup]="projectForm">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="label">Project #</label>
                                    <input formControlName="ProjectNumber" class="form-control disabled" type="text"
                                        nbInput fullWidth>
                                </div>
                                <div class="col-md-4">
                                    <label class="label">Project
                                        Type</label>
                                    <input formControlName="ProjectType" class="form-control disabled" type="text"
                                        nbInput fullWidth>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Work Type</label>
                                <input formControlName="WorkType" class="form-control disabled" type="text" nbInput
                                    fullWidth>
                            </div>
                            <div class="form-group">
                                <label class="label">Project Name and
                                    Description</label>
                                <input formControlName="ProjectName" class="form-control disabled" type="text" nbInput
                                    fullWidth>
                            </div>
                        </form>
                        <div style="display: unset; padding-top: 10px; margin-left: 10px;" class="col-md-3"
                            *ngFor="let option of workOrderInfo.resultOptions" class="p-field-checkbox">
                            <p-radioButton value="{{option.PassFailType.toString()}}"
                                [(ngModel)]="workOrderInfo.resultOptionsControl"></p-radioButton>
                            <label style="margin-bottom: 0px !important; margin-left: 5px;"
                                [for]="option.PassFailType.toString()">{{option.Description}}</label>
                        </div>
                        <!-- ITERATE SECTIONS -->
                        <br>

                        <div *ngIf="workOrderInfo.info.ChecklistRenderMode == 0; else gridLayoutRender">
                            <div *ngFor="let section of workOrderInfo.checklist; index as i" class="form-group">
                                <h6 class="mt-4 section-description">
                                    {{section.Description == 'Uncategorized' ? 'Other' : section.Description}}
                                </h6>
                                <div class="d-flex flex-wrap justify-content-between">
                                    <div *ngFor="let field of section.Fields; index as j">
                                        <label>
                                            {{field.QuestionText}}
                                        </label>
                                        <label *ngIf="field.Link" class="link-like-left"
                                            (click)="jumpToURL(field.Link)">
                                            {{field.LinkDescription ? field.LinkDescription : field.Link}}
                                        </label>
                                        <div style="padding-top: 10px;">
                                            <div *ngIf="field.ControlType == 'CheckBox'" class="col-sm-12 fields">
                                                <div *ngFor="let option of field.Options; index as k">
                                                    <nb-checkbox style="padding-right: 15px;"
                                                        id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'CheckBox' }}"
                                                        checked="{{option.Checked}}"
                                                        (checkedChange)="toggleSingle(option, section)">
                                                        {{ option.Text }}</nb-checkbox>
                                                    <div *ngIf="option.isOther && option.Checked"
                                                        style="padding-top: 8px;">
                                                        <input class="form-control input-style" type="text" nbInput
                                                            fullWidth class="form-control"
                                                            (keyup)="extraInput($event.target.value, option)"
                                                            placeholder="Comment"
                                                            id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'CheckBoxIsOtherComment' }}">
                                                    </div>
                                                    <!-- <div class="form-group row" *ngIf="isExtraInputNeeded(option)">
                                                    <label for="{{field.key}}" class="label col-sm-2 col-form-label">{{
                                                        getLabel(option, true) }}</label>
                                                    <div class="col-sm-9">
                                                        <input class="input-style" type="text" nbInput fullWidth
                                                            (keyup)="extraInput($event.target.value, option, section, field.key)"
                                                            id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'ExtraInfoCheckboxList' }}"
                                                            placeholder="{{ getLabel(option, true) }}"
                                                            value="{{ getExtraInfo(sectionsOnModules[i].Fields[j].FieldValue, option) }}">
                                                    </div>
                                                </div> -->
                                                </div>
                                            </div>
                                            <!-- <br> -->
                                            <!-- <small
                                                *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                                class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                                is required.</small> -->
                                            <div *ngIf="field.ControlType == 'RadioButton'" class="fields">
                                                <div style="padding-top: 10px;"
                                                    *ngFor="let option of field.Options; index as k"
                                                    class="p-field-checkbox">
                                                    <p-radioButton
                                                        (ngModelChange)="onRadioChanged(field, option, section)"
                                                        value="{{option.ID.toString()}}"
                                                        [(ngModel)]="field.RadioGroupControl">
                                                    </p-radioButton>
                                                    <label style="margin-bottom: 0px !important; margin-left: 5px;"
                                                        [for]="option.ID.toString()">{{option.Text}}</label>
                                                    <!-- (onClick)="changeRadioValue(field, option)" -->
                                                    <div *ngIf="option.isOther && option.ID.toString() == field.RadioGroupControl"
                                                        style="padding-top: 8px;">
                                                        <input class="form-control input-style" type="text" nbInput
                                                            fullWidth placeholder="Comment"
                                                            (keyup)="extraInput($event.target.value, option)"
                                                            id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'CheckBoxIsOtherComment' }}">
                                                    </div>
                                                </div>
                                                <!-- <nb-radio-group [(value)]="field.RadioGroupControl">
                                                    <nb-radio *ngFor="let option of field.Options; index as k"
                                                        id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'RadioButton' }}"
                                                        value="{{option.ID.toString()}}"
                                                        (valueChange)="changeRadioValue(field, option)">{{option.Text}}
                                                    </nb-radio>
                                                    <div *ngIf="option.isOther && field.RadioGroupControl == 'option.ID.toString()'" style="padding-top: 8px;">
                                                        <input class="input-style" type="text" nbInput fullWidth
                                                            id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'RadioButtonIsOtherComment' }}">
                                                    </div>
                                                </nb-radio-group> -->
                                                <!-- <div class="form-group row" *ngIf="isExtraInputNeeded(option)">
                                                        <label for="{{field.key}}" class="label col-sm-2 col-form-label">{{
                                                            getLabel(option, true) }}</label>
                                                        <div class="col-sm-9">
                                                            <input class="input-style" type="text" nbInput fullWidth
                                                                (keyup)="extraInput($event.target.value, option, section, field.key)"
                                                                id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'ExtraInfoCheckboxList' }}"
                                                                placeholder="{{ getLabel(option, true) }}"
                                                                value="{{ getExtraInfo(sectionsOnModules[i].Fields[j].FieldValue, option) }}">
                                                        </div>
                                                    </div> -->
                                            </div>
                                            <div *ngIf="field.ControlType == 'TextBox'" class="fields">
                                                <input class="form-control input-style" type="text" nbInput fullWidth
                                                    id="{{ i.toString() + '_' + j.toString() + '_' + 'TextBox' }}"
                                                    placeholder="Text"
                                                    (change)="textDateNumericChanged($event.target.value, field)">
                                                <!-- <br>
                                                <small
                                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                                    class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                                    is required.</small> -->
                                            </div>
                                            <div *ngIf="field.ControlType == 'DateTimePicker'" class="fields">
                                                <div class="input-group-calendar">
                                                    <input class="form-control input-style" nbInput fullWidth
                                                        #fieldDateTimePicker
                                                        id="{{ i.toString() + '_' + j.toString() + '_' + 'DateTimePicker' }}"
                                                        placeholder="Date" [nbDatepicker]="formpicker2"
                                                        (change)="textDateNumericChanged($event.target.value, field)">
                                                    <nb-datepicker #formpicker2></nb-datepicker>
                                                    <svg class="calendar-icon" (click)="fieldDateTimePicker.click()"
                                                        viewBox="0 0 24 24" role="presentation"
                                                        style="width: 1.05rem; height: 1.05rem;">
                                                        <path
                                                            d="M19,4H18V2H16V4H8V2H6V4H5C3.89,4 3,4.9 3,6V20A2,2 0 0,0 5,22H19A2,2 0 0,0 21,20V6A2,2 0 0,0 19,4M19,20H5V10H19V20M19,8H5V6H19V8M12,13H17V18H12V13Z"
                                                            style="fill: currentcolor;"></path>
                                                    </svg>
                                                </div>
                                                <!-- <small
                                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                                    class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                                    is required.</small> -->
                                            </div>
                                            <div *ngIf="field.ControlType == 'Numeric'" class="fields">
                                                <input class="form-control input-style" pattern="^-?[0-9]\d*(\.\d+)?$"
                                                    (paste)="onPaste($event)" type="number" nbInput fullWidth
                                                    id="{{ i.toString() + '_' + j.toString() + '_' + 'Numeric' }}"
                                                    placeholder="Numeric"
                                                    (change)="textDateNumericChanged($event.target.value, field)">
                                                <!-- <br>
                                                <small
                                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                                    is required.</small> -->
                                            </div>
                                        </div>
                                        <div style="padding-top: 8px; padding-bottom: 8px;" *ngIf="field.AllowComment">
                                            <button type="submit" class="btn btn-sm btn-primary"
                                                (click)="addCommentArea(field)">ADD COMMENT</button>
                                            <div *ngFor="let comment of field.AllComments; index as p; trackBy: trackByFn"
                                                style="padding-top: 8px;" class="d-flex flex-nowrap">
                                                <input style="width: 90%; max-width: none; margin-right: 5px;"
                                                    class="input-style form-control" type="text" nbInput
                                                    (keyup)="extraInputComment($event.target.value, field, p)"
                                                    id="{{ i.toString() + '_' + j.toString() + '_' + p.toString() + '_' + 'FieldComment' }}"
                                                    value="{{field.AllComments[p]}}" placeholder="Comment {{p+1}}">
                                                <button type="submit" class="btn btn-sm btn-danger remove-comment"
                                                    (click)="removeComment(field, p)"><i
                                                        class="fa fa-trash"></i></button>
                                            </div>
                                            <!-- <div *ngIf="field.DisplayCommentArea" style="padding-top: 8px;">
                                                    <input style="width: 90%; max-width: none; margin-right: 5px;" class="input-style" type="text" nbInput
                                                        (keyup)="extraInput($event.target.value, field)"
                                                        id="{{ i.toString() + '_' + j.toString() + '_' + 'FieldComment' }}"
                                                        placeholder="Comment">
                                                    <button pButton pRipple icon="pi pi-trash"
                                                        class="p-button-rounded p-button-warning"></button>
                                                </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #gridLayoutRender>
                            <br>
                            <div class="form-group">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Question</th>
                                            <th *ngFor="let answer of workOrderInfoGridView.QuestionCols">
                                                <div>Answers {{answer}}</div>
                                                <button type="submit" class="btn btn-sm btn-danger remove-comment"
                                                    (click)="removeColumnAnswers(answer-1)"><i
                                                        class="fa fa-trash"></i></button>
                                            </th>
                                            <th>
                                                <button type="submit" class="btn btn-sm btn-primary"
                                                    (click)="addNewAnswerCol()">ADD NEW</button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody
                                        *ngFor="let section of workOrderInfoGridView.AllChecklistsGrouped; index as p">
                                        <tr>
                                            <td>
                                                <b> {{ section.Description }} </b>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let field of section.Fields; index as i">
                                            <td>{{field.QuestionText}}</td>
                                            <td *ngFor="let questionObj of field.QuestionsList; index as j">
                                                <div *ngIf="questionObj.ControlType == 'CheckBox'"
                                                    class="col-sm-12 fields">
                                                    <nb-select [(ngModel)]="questionObj.CheckboxMultiSelectValuesGrid"
                                                        nbInput fullWidth multiple placeholder="Select">
                                                        <nb-option
                                                            *ngFor="let option of questionObj.Options; index as k"
                                                            value="{{option.ID.toString()}}">
                                                            {{ option.Text }}</nb-option>
                                                    </nb-select>
                                                </div>
                                                <div *ngIf="questionObj.ControlType == 'RadioButton'" class="fields">
                                                    <nb-select [(ngModel)]="questionObj.CheckboxSelectValueGrid" nbInput
                                                        fullWidth placeholder="Select">
                                                        <nb-option
                                                            *ngFor="let option of questionObj.Options; index as k"
                                                            value="{{option.ID.toString()}}">
                                                            {{ option.Text }}</nb-option>
                                                    </nb-select>
                                                </div>
                                                <div *ngIf="questionObj.ControlType == 'TextBox'" class="fields">
                                                    <input class="form-control input-style" type="text" nbInput
                                                        fullWidth
                                                        id="{{ i.toString() + '_' + j.toString() + '_' + 'TextBox' }}"
                                                        placeholder="Text"
                                                        (change)="textDateNumericChanged($event.target.value, questionObj)">
                                                    <!-- <br>
                                                    <small
                                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                                        is required.</small> -->
                                                </div>
                                                <div *ngIf="questionObj.ControlType == 'DateTimePicker'" class="fields">
                                                    <div class="input-group-calendar">
                                                        <input class="form-control input-style" nbInput fullWidth
                                                            #fieldDateTimePicker
                                                            id="{{ i.toString() + '_' + j.toString() + '_' + 'DateTimePicker' }}"
                                                            placeholder="Date" [nbDatepicker]="formpicker2"
                                                            (change)="textDateNumericChanged($event.target.value, questionObj)">
                                                        <nb-datepicker #formpicker2></nb-datepicker>
                                                        <svg class="calendar-icon" (click)="fieldDateTimePicker.click()"
                                                            viewBox="0 0 24 24" role="presentation"
                                                            style="width: 1.05rem; height: 1.05rem;">
                                                            <path
                                                                d="M19,4H18V2H16V4H8V2H6V4H5C3.89,4 3,4.9 3,6V20A2,2 0 0,0 5,22H19A2,2 0 0,0 21,20V6A2,2 0 0,0 19,4M19,20H5V10H19V20M19,8H5V6H19V8M12,13H17V18H12V13Z"
                                                                style="fill: currentcolor;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div *ngIf="questionObj.ControlType == 'Numeric'" class="fields">
                                                    <input class="form-control input-style"
                                                        pattern="^-?[0-9]\d*(\.\d+)?$" (paste)="onPaste($event)"
                                                        type="number" nbInput fullWidth
                                                        id="{{ i.toString() + '_' + j.toString() + '_' + 'Numeric' }}"
                                                        placeholder="Numeric"
                                                        (change)="textDateNumericChanged($event.target.value, questionObj)">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </ng-template>
                        <!-- ITERATE SECTIONS -->
                    </div>

                    <div class="tab-panel">
                        <form [formGroup]="inspectionForm">
                            <div class="form-group">
                                <label class="label">Select Additional Fees</label>
                                <nb-select formControlName="AdditionalFee" class="form-control" fullWidth
                                    placeholder="Additional Fee">
                                    <nb-option *ngFor="let option of workOrderInfo.addtionalFees;"
                                        value="{{ option.FeeTypeID.toString() }}">
                                        {{ option.Description }}</nb-option>
                                </nb-select>
                                <small
                                    *ngIf="(inspectionForm.get('AdditionalFee').touched || formValidationService.formSubmitAttempt) && inspectionForm.get('AdditionalFee').errors?.required"
                                    class="text-danger">Additional Fee is required.</small>
                            </div>
                            <div class="form-group">
                                <label class="label">Inspection Type Description</label>
                                <input formControlName="InspectionTypeDescription" class="form-control" type="text"
                                    nbInput fullWidth class="form-control" placeholder="Inspection Type Description">
                                <small
                                    *ngIf="(inspectionForm.get('InspectionTypeDescription').touched || formValidationService.formSubmitAttempt) && inspectionForm.get('InspectionTypeDescription').errors?.required"
                                    class="text-danger">Additional Fee is required.</small>
                            </div>
                            <div class="form-group">
                                <label class="label">Inspection Date</label>
                                <div class="input-group-calendar">
                                    <input formControlName="InspectionDate" type="text" class="form-control" nbInput
                                        #inspectionDate fullWidth placeholder="Inspection Date"
                                        [nbDatepicker]="formpicker3">
                                    <nb-datepicker #formpicker3></nb-datepicker>
                                    <svg class="calendar-icon" (click)="inspectionDate.click()" viewBox="0 0 24 24"
                                        role="presentation" style="width: 1.05rem; height: 1.05rem;">
                                        <path
                                            d="M19,4H18V2H16V4H8V2H6V4H5C3.89,4 3,4.9 3,6V20A2,2 0 0,0 5,22H19A2,2 0 0,0 21,20V6A2,2 0 0,0 19,4M19,20H5V10H19V20M19,8H5V6H19V8M12,13H17V18H12V13Z"
                                            style="fill: currentcolor;"></path>
                                    </svg>
                                </div>
                                <small
                                    *ngIf="(inspectionForm.get('InspectionDate').touched || formValidationService.formSubmitAttempt) && inspectionForm.get('InspectionDate').errors?.required"
                                    class="text-danger">Inspection Date is required.</small>
                            </div>
                            <div class="form-group">
                                <label class="label">Notes</label>
                                <textarea formControlName="Notes" rows="5" nbInput fullWidth shape="round"
                                    class="form-control" placeholder="Notes"></textarea>
                            </div>
                            <button type="submit" (click)="saveInspection()" class="btn btn-success">SAVE
                                INSPECTION</button>
                        </form>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </nb-card-body>
</nb-card>