.bg-login{
    background-color: #0398fc;
    min-width: 800px !important;
}

.slagalica{
    height: 150px;
}

.bg-style{
    margin:0 auto;
    width: 800px !important;
}

.align{
    text-align: center;
}