<nb-layout windowMode [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <nb-layout-column class="bg-login">

    <div class="d-flex main-content bg-style">
      <div class="left-side">
        <div class="content">
          <div class="bg-login">
            <div class="align">
              <img class="slagalica" [routerLink]="['/auth/login']" src="../../../assets/images/slagalica.png">
              <h1>Slagalica</h1>
            </div>
            <router-outlet></router-outlet>
          </div>
          <div *ngIf="authService.showRegister">
            <a (click)="navigateRegisterPage()" class="link-like label form-control-label">Nemate nalog? Registrujte
              se!</a>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>