.bg-login{
    background-color: #0398fc;
    min-width: 500px !important;
}

.slagalica{
    height: 200px;
}

.bg-style{
    margin:0 auto;
    width: 25% !important;
}

.align{
    text-align: center;
}