<div class="row">
    <div class="col-md-12">
        <nb-card class="nb-card-auth">
            <nb-card-header>Set New Password
                <br>
                <div class="text-info">
                    Please enter your verification code sent to your email or mobile phone, your email and a new
                    password.
                </div>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="form" class="form-horizontal">
                    <div class="form-group row">
                        <label class="label col-sm-3 form-control-label">Verification Code</label>
                        <div class="col-sm-9">
                            <input type="email" nbInput fullWidth name="UserName" formControlName="VerificationCode"
                                placeholder="Enter Verification Code">
                            <br>
                            <small
                                *ngIf="(form.get('VerificationCode').touched || formSubmitAttempt) && (form.get('VerificationCode').errors)"
                                class="text-danger">Verification Code is required.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-sm-3 form-control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" email nbInput fullWidth name="UserName" formControlName="Email"
                                placeholder="Email">
                            <br>
                            <small
                                *ngIf="(form.get('Email').touched || formSubmitAttempt) && (form.get('Email').errors)"
                                class="text-danger">Please enter a valid email.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-sm-3 form-control-label">New Password</label>
                        <div class="col-sm-9">
                            <input type="password" nbInput fullWidth name="Password" formControlName="Password"
                                placeholder="Enter New Password">
                            <br>
                            <small
                                *ngIf="(form.get('Password').touched || formSubmitAttempt) && (form.get('Password').errors)"
                                class="text-danger">New Password is required.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <!-- <button type="submit" (click)="onSubmit()" nbButton status="primary">
                                Submit</button> -->
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>