<!-- <div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Search By Project ID</nb-card-header>
            <nb-card-body>
                <form class="form-inline">
                    <input (keypress)="formValidationService.integerNumberOnly($event)" type="text" (paste)="formValidationService.onPasteInteger($event)" required
                        [(ngModel)]="permitId" name="permitId" nbInput fullWidth placeholder="Enter Project ID Here...">
                    <button type="submit" (click)="searchChecklists()" nbButton status="primary">Submit</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div> -->

<h1>Project</h1>

<p-accordion [multiple]="true">
    <p-accordionTab header="Project Information" [selected]="true">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Project Details" [selected]="true">
        Content 2
    </p-accordionTab>
    <p-accordionTab header="Checklists" [selected]="true">
        <ng-container *ngTemplateOutlet="checklistsTemplate"></ng-container>
    </p-accordionTab>
</p-accordion>

<ng-template #checklistsTemplate>
    <div class="row">
        <div class="mb-5 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card *ngIf="checklistFormsOnTabs && checklistFormsOnTabs.controls.length > 0">
                <p-tabView>
                    <p-tabPanel active="{{i == 0}}" *ngFor="let section of checklistFormsOnTabs.controls; index as i">
                        <ng-template pTemplate="header">
                            <!-- <input [hidden]="!sectionsOnTabs[i].renameTabSection"
                            id="{{ i.toString() + '_' + 'SectionTabName' }}" tabindex="-1"
                            class="label col-form-label" type="text" nbInput fullWidth
                            placeholder="{{sectionsOnTabs[i].SectionName}}"> -->
                            <!-- <input [hidden]="!sectionsOnTabs[i].renameTabSection"
                            id="{{ i.toString() + '_' + 'SectionTabName' }}" tabindex="-1"
                            (blur)="saveNewTabSectionName(i.toString() + '_' + 'SectionTabName', sectionsOnTabs[i])"
                            class="label col-form-label" type="text" nbInput fullWidth
                            placeholder="{{sectionsOnTabs[i].SectionName}}"> -->
                            <div>
                                <!-- <div [hidden]="sectionsOnTabs[i].renameTabSection"> -->
                                {{sectionsOnTabs[i].SectionName}}
                                <i *ngIf="sectionsOnTabs[i].AllowDuplicate && !sectionsOnTabs[i].renameTabSection"
                                    (click)="duplicateSection(sectionsOnTabs[i], section)"
                                    class="plus-icon fas fa-plus-circle"></i>
                                <i *ngIf="sectionsOnTabs[i].AllowDuplicate && sectionsOnTabs[i].AllowDelete && sectionsOnTabs[i].IsAdditional && !sectionsOnTabs[i].renameTabSection"
                                    (click)="removeSection(sectionsOnTabs[i], section)"
                                    class="minus-icon fas fa-minus-circle"></i>
                                <i *ngIf="sectionsOnTabs[i].AllowDuplicate && sectionsOnTabs[i].AllowRename && sectionsOnTabs[i].IsAdditional && !sectionsOnTabs[i].renameTabSection"
                                    (click)="renameSection(sectionsOnTabs[i])" class="edit-icon fas fa-edit"></i>
                            </div>
                        </ng-template>
                        <form [formGroup]="section" class="section">
                            <div class="padding-bottom-20 flex-basis-100"
                                [hidden]="!sectionsOnTabs[i].renameTabSection">
                                <div class="padding-bottom-10">
                                    <label class="label col-sm-1 col-form-label">Section Title:</label>
                                    <input id="{{ i.toString() + '_' + 'SectionTitleTab' }}" tabindex="-1"
                                        class="label col-sm-3 col-form-label edit-label" type="text" nbInput fullWidth
                                        placeholder="{{sectionsOnTabs[i].SectionName}}"
                                        value="{{ sectionsOnTabs[i].SectionName }}">
                                </div>
                                <div class="margin-left-12">
                                    <button class="margin-right-10" type="submit"
                                        (click)="saveEditSection(sectionsOnTabs[i], i)" nbButton
                                        status="primary">Save</button>
                                    <button type="submit" (click)="cancelEditSection(sectionsOnTabs[i])" nbButton
                                        status="primary">Cancel</button>
                                </div>
                            </div>
                            <div class="padding-bottom-20 margin-left-12 flex-basis-100"
                                [hidden]="sectionsOnTabs[i].IsHideInfoComplete">
                                <nb-checkbox id="{{ i.toString() + '_' + 'CheckboxInfoCompletedTab' }}"
                                    checked="{{ sectionsOnTabs[i].SectionCompleted }}"
                                    (checkedChange)="toggleSingleNonForm($event, sectionsOnTabs[i])">
                                    {{ sectionsOnTabs[i].SectionName + ' Info Completed' }}</nb-checkbox>
                            </div>
                            <div class="form-group row section-controls"
                                [ngClass]="{'flex-basis-33': sectionsOnTabs[i].NoColumns > 3}"
                                [style.flexBasis.%]="sectionsOnTabs[i].NoColumns > 6 ? 16 : Math.floor(100/sectionsOnTabs[i].NoColumns)"
                                *ngFor="let field of onTabsControls[i]; index as j">
                                <!-- <label
                                (dblclick)="editLabel(field, i.toString() + '_' + j.toString() + '_' + 'EditLabelTab')"
                                [hidden]="field.isLabelEdit" for="{{field.key}}"
                                class="label col-sm-3 col-form-label">{{ sectionsOnTabs[i].Fields[j].FieldName }}</label> -->
                                <div [hidden]="sectionsOnTabs[i].renameTabSection"
                                    [ngClass]="{'col-sm-5': sectionsOnTabs[i].NoColumns > 1, 'col-sm-3': sectionsOnTabs[i].NoColumns === 1}">
                                    <label for="{{field.key}}"
                                        class="label col-form-label">{{ sectionsOnTabs[i].UseCount ? (j+1).toString() + '. ' + sectionsOnTabs[i].Fields[j].FieldName : sectionsOnTabs[i].Fields[j].FieldName}}</label>
                                    <i *ngIf="sectionsOnTabs[i].Fields[j].Tooltip"
                                        class="padding-left-10 fas fa-question-circle"
                                        pTooltip="{{ sectionsOnTabs[i].Fields[j].Tooltip }}" tooltipPosition="top"></i>
                                </div>


                                <!-- <input id="{{ i.toString() + '_' + j.toString() + '_' + 'EditLabelTab' }}"
                                [hidden]="!field.isLabelEdit" tabindex="-1"
                                (blur)="renameFieldLabel(i.toString() + '_' + j.toString() + '_' + 'EditLabelTab', field, sectionsOnTabs[i], sectionsOnTabs[i].Fields[j])"
                                class="label col-sm-3 col-form-label edit-label" type="text" nbInput fullWidth
                                placeholder="{{sectionsOnTabs[i].Fields[j].FieldName}}"> -->
                                <div [hidden]="!sectionsOnTabs[i].renameTabSection"
                                    [ngClass]="{'col-sm-5': sectionsOnTabs[i].NoColumns > 1, 'col-sm-3': sectionsOnTabs[i].NoColumns === 1}">
                                    <input id="{{ i.toString() + '_' + j.toString() + '_' + 'EditLabelTab' }}"
                                        tabindex="-1" class="label col-form-label edit-label" type="text" nbInput
                                        fullWidth placeholder="{{sectionsOnTabs[i].Fields[j].FieldName}}">
                                </div>


                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'Textbox'"
                                    class="col-sm-6 fields">
                                    <input class="input-style" type="text" nbInput fullWidth
                                        id="{{ i.toString() + '_' + j.toString() + '_' + 'TexboxTab' }}"
                                        placeholder="{{sectionsOnTabs[i].Fields[j].FieldName}}"
                                        [formControlName]="field.key">
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                </div>
                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'Checkbox'"
                                    class="col-sm-6 fields">
                                    <nb-checkbox id="{{ i.toString() + '_' + j.toString() + '_' + 'CheckboxTab' }}"
                                        [formControlName]="field.key"
                                        (checkedChange)="toggleSingle($event, section, field.key)"></nb-checkbox>
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                </div>
                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'DropdownList'"
                                    class="col-sm-6 fields">
                                    <nb-select [overlayPosition]="fixed" [appendTo]="body" #ref1
                                        [formControlName]="field.key"
                                        placeholder="{{sectionsOnTabs[i].Fields[j].FieldName}}" nbInput fullWidth
                                        selected="{{sectionsOnTabs[i].Fields[j].FieldValue}}">
                                        <nb-option
                                            *ngFor="let option of sectionsOnTabs[i].Fields[j].Options; index as k"
                                            value="{{option.ID}}">
                                            {{option.Text}}</nb-option>
                                    </nb-select>
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                </div>
                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'Numeric'"
                                    class="col-sm-6 fields">
                                    <input class="input-style" pattern="^-?[0-9]\d*(\.\d+)?$"
                                        (keypress)="preventEChar($event)" (paste)="onPaste($event)" type="number"
                                        nbInput fullWidth
                                        id="{{ i.toString() + '_' + j.toString() + '_' + 'NumericTab' }}"
                                        placeholder="{{sectionsOnTabs[i].Fields[j].FieldName}}"
                                        [formControlName]="field.key">
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                    <!-- <input class="input-style" (keypress)="onInputNumbersOnly($event)" (paste)="onPaste($event)"
                                    type="text" nbInput fullWidth id="{{field}}"
                                    placeholder="{{sectionsOnTabs[i].Fields[j].FieldName}}" [formControlName]="field"> -->
                                </div>
                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'DatePicker'"
                                    class="col-sm-6 fields">
                                    <input class="input-style" [formControlName]="field.key" nbInput fullWidth
                                        placeholder="{{sectionsOnTabs[i].Fields[j].FieldName}}"
                                        [nbDatepicker]="formpicker">
                                    <nb-datepicker #formpicker></nb-datepicker>
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                </div>
                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'MemoBox'"
                                    class="col-sm-3 fields">
                                    <textarea class="input-style" [formControlName]="field.key" nbInput fullWidth
                                        placeholder="{{sectionsOnTabs[i].Fields[j].FieldName}}"></textarea>
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                </div>
                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'DropdownListDB'"
                                    class="col-sm-6 fields">
                                    <nb-select [formControlName]="field.key" nbInput fullWidth
                                        selected="{{sectionsOnTabs[i].Fields[j].FieldValue}}"
                                        placeholder="{{sectionsOnTabs[i].Fields[j].FieldName}}">
                                        <nb-option
                                            *ngFor="let option of sectionsOnTabs[i].Fields[j].Options; index as k"
                                            value="{{getDropdownValue(option)}}">
                                            {{ getLabel(option, false) }}</nb-option>
                                    </nb-select>
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                </div>
                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'CheckboxList'"
                                    class="col-sm-6 fields">
                                    <div *ngFor="let option of sectionsOnTabs[i].Fields[j].Options; index as k">
                                        <nb-checkbox style="padding-right: 15px;"
                                            id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'CheckboxListTab' }}"
                                            checked="{{option.isChecked}}"
                                            (checkedChange)="toggle($event, option, section, field.key, sectionsOnTabs[i].Fields[j])">
                                            {{ option.Text }}</nb-checkbox>
                                        <div class="form-group row" *ngIf="isExtraInputNeeded(option)">
                                            <label for="{{field.key}}"
                                                class="label col-sm-2 col-form-label">{{ getLabel(option, true) }}</label>
                                            <div class="col-sm-9">
                                                <input class="input-style" type="text" nbInput fullWidth
                                                    (keyup)="extraInput($event.target.value, option, section, field.key)"
                                                    id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'ExtraInfoCheckboxListTab' }}"
                                                    placeholder="{{ getLabel(option, true) }}"
                                                    value="{{ getExtraInfo(sectionsOnTabs[i].Fields[j].FieldValue, option) }}">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                </div>
                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'MultiselectListDB'"
                                    class="col-sm-6 fields">
                                    <nb-select [formControlName]="field.key" nbInput fullWidth multiple
                                        placeholder="{{ sectionsOnTabs[i].Fields[j].FieldName }}">
                                        <nb-option
                                            *ngFor="let option of sectionsOnTabs[i].Fields[j].Options; index as k"
                                            value="{{ getDropdownValue(option) }}">
                                            {{ getLabel(option, false) }}</nb-option>
                                    </nb-select>
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                </div>
                                <div *ngIf="sectionsOnTabs[i].Fields[j].FieldTemplate == 'CheckboxListDB'"
                                    class="col-sm-6 fields">
                                    <div *ngFor="let option of sectionsOnTabs[i].Fields[j].Options; index as k">
                                        <nb-checkbox style="padding-right: 15px;"
                                            id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'CheckboxListDBTab' }}"
                                            checked="{{option.isChecked}}"
                                            (checkedChange)="toggle($event, option, section, field.key, sectionsOnTabs[i].Fields[j])">
                                            {{ getLabel(option, false) }}</nb-checkbox>
                                        <div class="form-group row" *ngIf="isExtraInputNeeded(option, true)">
                                            <label for="{{field.key}}"
                                                class="label col-sm-2 col-form-label">{{ getLabel(option, true) }}</label>
                                            <div class="col-sm-9">
                                                <input class="input-style" type="text" nbInput fullWidth
                                                    (keyup)="extraInput($event.target.value, option, section, field.key)"
                                                    id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'ExtraInfoCheckboxListDBTab' }}"
                                                    placeholder="{{ getLabel(option, true) }}"
                                                    value="{{ getExtraInfo(sectionsOnTabs[i].Fields[j].FieldValue, option) }}">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <small
                                        *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                        class="text-danger">{{sectionsOnTabs[i].Fields[j].FieldName}}
                                        is required.</small>
                                </div>
                            </div>
                        </form>
                    </p-tabPanel>
                </p-tabView>
            </nb-card>
            <nb-card *ngFor="let section of checklistForms.controls; index as i">
                <nb-card-header>
                    <div>
                        {{ sectionsOnModules[i].SectionName }}
                        <i *ngIf="sectionsOnModules[i].AllowDuplicate && !sectionsOnModules[i].renameTabSection"
                            (click)="duplicateSection(sectionsOnModules[i], section, true)"
                            class="pointer plus-icon fas fa-plus-circle"></i>
                        <i *ngIf="sectionsOnModules[i].AllowDuplicate && sectionsOnModules[i].AllowDelete && sectionsOnModules[i].IsAdditional && !sectionsOnModules[i].renameTabSection"
                            (click)="removeSection(sectionsOnModules[i], section, true)"
                            class="pointer minus-icon fas fa-minus-circle"></i>
                        <i *ngIf="sectionsOnModules[i].AllowDuplicate && sectionsOnModules[i].AllowRename && sectionsOnModules[i].IsAdditional && !sectionsOnModules[i].renameTabSection"
                            (click)="renameSection(sectionsOnModules[i])" class="pointer edit-icon fas fa-edit"></i>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <form [formGroup]="section" class="section">
                        <div class="padding-bottom-20 flex-basis-100" [hidden]="!sectionsOnModules[i].renameTabSection">
                            <div class="padding-bottom-10">
                                <label class="label col-sm-1 col-form-label">Section Title:</label>
                                <input id="{{ i.toString() + '_' + 'SectionTitleModule' }}" tabindex="-1"
                                    class="label col-sm-3 col-form-label edit-label" type="text" nbInput fullWidth
                                    placeholder="{{sectionsOnModules[i].SectionName}}"
                                    value="{{ sectionsOnModules[i].SectionName }}">
                            </div>
                            <div class="margin-left-12">
                                <button class="margin-right-10" type="submit"
                                    (click)="saveEditSection(sectionsOnModules[i], i, true)" nbButton
                                    status="primary">Save</button>
                                <button type="submit" (click)="cancelEditSection(sectionsOnModules[i])" nbButton
                                    status="primary">Cancel</button>
                            </div>
                        </div>
                        <div class="padding-bottom-20 margin-left-12 flex-basis-100"
                            [hidden]="sectionsOnModules[i].IsHideInfoComplete">
                            <nb-checkbox id="{{ i.toString() + '_' + 'CheckboxInfoCompletedModule' }}"
                                checked="{{ sectionsOnModules[i].SectionCompleted }}"
                                (checkedChange)="toggleSingleNonForm($event, sectionsOnModules[i])">
                                {{ sectionsOnModules[i].SectionName + ' Info Completed' }}</nb-checkbox>
                        </div>
                        <div class="form-group row section-controls"
                            [ngClass]="{'flex-basis-33': sectionsOnModules[i].NoColumns > 3}"
                            [style.flexBasis.%]="sectionsOnModules[i].NoColumns > 6 ? 16 : Math.floor(100/sectionsOnModules[i].NoColumns)"
                            *ngFor="let field of onSectionControls[i]; index as j">
                            <!-- <label (dblclick)="editLabel(field, i.toString() + '_' + j.toString() + '_' + 'EditLabel')"
                            [hidden]="field.isLabelEdit" for="{{field.key}}"
                            class="label col-sm-3 col-form-label">{{ sectionsOnModules[i].Fields[j].FieldName }}</label>
                        <input id="{{ i.toString() + '_' + j.toString() + '_' + 'EditLabel' }}"
                            [hidden]="!field.isLabelEdit" tabindex="-1"
                            (blur)="renameFieldLabel(i.toString() + '_' + j.toString() + '_' + 'EditLabel', field, sectionsOnModules[i].SectionID, sectionsOnModules[i].Fields[j])"
                            class="label col-sm-3 col-form-label edit-label" type="text" nbInput fullWidth
                            placeholder="{{sectionsOnModules[i].Fields[j].FieldName}}"> -->


                            <div [hidden]="sectionsOnModules[i].renameTabSection"
                                [ngClass]="{'col-sm-5': sectionsOnModules[i].NoColumns > 1, 'col-sm-3': sectionsOnModules[i].NoColumns === 1}">
                                <label [hidden]="sectionsOnModules[i].renameTabSection" for="{{field.key}}"
                                    class="label col-form-label">{{ sectionsOnModules[i].UseCount ? (j+1).toString() + '. ' + sectionsOnModules[i].Fields[j].FieldName : sectionsOnModules[i].Fields[j].FieldName}}</label>
                            </div>
                            <div [hidden]="!sectionsOnModules[i].renameTabSection"
                                [ngClass]="{'col-sm-5': sectionsOnModules[i].NoColumns > 1, 'col-sm-3': sectionsOnModules[i].NoColumns === 1}">
                                <input id="{{ i.toString() + '_' + j.toString() + '_' + 'EditLabel' }}"
                                    [hidden]="!sectionsOnModules[i].renameTabSection" tabindex="-1"
                                    class="label col-form-label edit-label" type="text" nbInput fullWidth
                                    placeholder="{{sectionsOnModules[i].Fields[j].FieldName}}">
                            </div>


                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'Textbox'"
                                class="col-sm-6 fields">
                                <input class="input-style" type="text" nbInput fullWidth
                                    id="{{  i.toString() + '_' + j.toString() + '_' + 'Texbox' }}"
                                    placeholder="{{sectionsOnModules[i].Fields[j].FieldName}}"
                                    [formControlName]="field.key">
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'Checkbox'"
                                class="col-sm-6 fields">
                                <nb-checkbox id="{{ i.toString() + '_' + j.toString() + '_' + 'Checkbox' }}"
                                    [formControlName]="field.key"
                                    (checkedChange)="toggleSingle($event, section, field.key)">
                                </nb-checkbox>
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'DropdownList'"
                                class="col-sm-6 fields">
                                <nb-select [appendTo]="body" #ref1 [formControlName]="field.key" nbInput fullWidth
                                    selected="{{sectionsOnModules[i].Fields[j].FieldValue}}"
                                    placeholder="{{sectionsOnModules[i].Fields[j].FieldName}}">
                                    <!-- {{ appendToBody(ref1) }} -->
                                    <nb-option *ngFor="let option of sectionsOnModules[i].Fields[j].Options; index as k"
                                        value="{{option.ID}}">
                                        {{option.Text}}</nb-option>
                                </nb-select>
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'Numeric'"
                                class="col-sm-6 fields">
                                <input class="input-style" pattern="^-?[0-9]\d*(\.\d+)?$" (paste)="onPaste($event)"
                                    type="number" nbInput fullWidth
                                    id="{{ i.toString() + '_' + j.toString() + '_' + 'Numeric' }}"
                                    placeholder="{{sectionsOnModules[i].Fields[j].FieldName}}"
                                    [formControlName]="field.key">
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'DatePicker'"
                                class="col-sm-6 fields">
                                <input class="input-style" [formControlName]="field.key" nbInput fullWidth
                                    placeholder="{{sectionsOnModules[i].Fields[j].FieldName}}"
                                    [nbDatepicker]="formpicker">
                                <nb-datepicker #formpicker></nb-datepicker>
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'MemoBox'"
                                class="col-sm-6 fields">
                                <textarea class="input-style" [formControlName]="field.key" nbInput fullWidth
                                    placeholder="{{sectionsOnModules[i].Fields[j].FieldName}}"></textarea>
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'DropdownListDB'"
                                class="col-sm-6 fields">
                                <nb-select [formControlName]="field.key" nbInput fullWidth
                                    selected="{{sectionsOnModules[i].Fields[j].FieldValue}}"
                                    placeholder="{{sectionsOnModules[i].Fields[j].FieldName}}">
                                    <nb-option *ngFor="let option of sectionsOnModules[i].Fields[j].Options; index as k"
                                        value="{{ getDropdownValue(option) }}">
                                        {{ getLabel(option, false) }}</nb-option>
                                </nb-select>
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'CheckboxList'"
                                class="col-sm-6 fields">
                                <div *ngFor="let option of sectionsOnModules[i].Fields[j].Options; index as k">
                                    <nb-checkbox style="padding-right: 15px;"
                                        id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'CheckboxList' }}"
                                        checked="{{option.isChecked}}"
                                        (checkedChange)="toggle($event, option, section, field.key, sectionsOnModules[i].Fields[j])">
                                        {{ option.Text }}</nb-checkbox>
                                    <div class="form-group row" *ngIf="isExtraInputNeeded(option)">
                                        <label for="{{field.key}}"
                                            class="label col-sm-2 col-form-label">{{ getLabel(option, true) }}</label>
                                        <div class="col-sm-9">
                                            <input class="input-style" type="text" nbInput fullWidth
                                                (keyup)="extraInput($event.target.value, option, section, field.key)"
                                                id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'ExtraInfoCheckboxList' }}"
                                                placeholder="{{ getLabel(option, true) }}"
                                                value="{{ getExtraInfo(sectionsOnModules[i].Fields[j].FieldValue, option) }}">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'MultiselectListDB'"
                                class="col-sm-6 fields">
                                <nb-select [formControlName]="field.key" nbInput fullWidth multiple
                                    placeholder="{{ sectionsOnModules[i].Fields[j].FieldName }}">
                                    <nb-option *ngFor="let option of sectionsOnModules[i].Fields[j].Options; index as k"
                                        value="{{getDropdownValue(option)}}">
                                        {{ getLabel(option, false) }}</nb-option>
                                </nb-select>
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                            <div *ngIf="sectionsOnModules[i].Fields[j].FieldTemplate == 'CheckboxListDB'"
                                class="col-sm-6 fields">
                                <div *ngFor="let option of sectionsOnModules[i].Fields[j].Options; index as k">
                                    <nb-checkbox style="padding-right: 15px;"
                                        id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'CheckboxListDB' }}"
                                        checked="{{option.isChecked}}"
                                        (checkedChange)="toggle($event, option, section, field.key, sectionsOnModules[i].Fields[j])">
                                        {{ getLabel(option, false) }}</nb-checkbox>
                                    <div class="form-group row" *ngIf="isExtraInputNeeded(option, true)">
                                        <label for="{{field.key}}"
                                            class="label col-sm-2 col-form-label">{{ getLabel(option, true) }}</label>
                                        <div class="col-sm-9">
                                            <input class="input-style" type="text" nbInput fullWidth
                                                (keyup)="extraInput($event.target.value, option, section, field.key)"
                                                id="{{ i.toString() + '_' + j.toString() + '_' + k.toString() + '_' + 'ExtraInfoCheckboxListDB' }}"
                                                placeholder="{{ getLabel(option, true) }}"
                                                value="{{ getExtraInfo(sectionsOnModules[i].Fields[j].FieldValue, option) }}">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <small
                                    *ngIf="(section.get(field.key).touched || formValidationService.formSubmitAttempt) && section.get(field.key).errors?.required"
                                    class="text-danger">{{sectionsOnModules[i].Fields[j].FieldName}}
                                    is required.</small>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</ng-template>

<div *ngIf="projectService.globalSaveVisible" class="row save-forms-section">
    <button class="save-forms-button" type="submit" (click)="packAndSaveAllForms()" nbButton
        status="primary">Save</button>
</div>

<p-confirmDialog header="Remove Section" icon="pi pi-exclamation-triangle"></p-confirmDialog>