nb-tabset {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep ngx-checklists {
  display: block;
  padding: 1rem 2rem;
}

nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline>* {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

.input-style {
  max-width: 20rem;
}

.save-forms-button {
  margin-bottom: 10px;
  width: 200px;
}

.save-forms-section {
  text-align: center;
  //margin-bottom: 1.875rem;
  position: fixed;
  bottom: 0px;
  //right: 0px;
  z-index: 9999;

  background-color: transparent;
  height: 70px;
  width: 100vw;
  margin: 0 !important;
  //margin-bottom: 50px;
  // margin-left: 35%;

  // background-color:#ddd;
  // position: fixed;
  // padding: 2em;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);

  // position: fixed;
  // z-index: 9999;
  // margin: 0px;
  // padding: 0px;
  // width: 1000px;
  // bottom: 0px;

  display: flex;
  justify-content: center;
  background: #edf1f7;
  padding-top: 10px;
  box-shadow: 0px -1px 3px #e4e9f2;
}

.plus-icon {
  padding-left: 10px;
  color: #71e835;
}

.minus-icon {
  padding-left: 10px;
  color: #db1807;
}

.edit-icon {
  padding-left: 10px;
  color: gray;
}

::ng-deep {
  .p-tabview .p-tabview-nav li {
    height: 45px;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9375rem;
    font-weight: 600;
    height: 100%;
    background: white;
  }

  .p-tabview .p-tabview-nav {
    border-bottom: 1px solid #edf1f7;
  }

  .p-tabview-nav {
    height: auto;
  }

  .nb-theme-default a {
    text-decoration: none;
  }

  .p-tabview .p-tabview-panels {
    border: none;
    margin-top: 20px;
    padding: 1rem 1.5rem;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
  }

  .fields {
    min-height: 40px;
  }

  .section {
    display: flex;
    flex-wrap: wrap;
  }

  .section-controls {
    margin: 5px 0;

    @media (max-width: 1200px) {
      flex-basis: 100% !important;
    }  
  }

  .flex-basis-100 {
    flex-basis: 100%;
  }

  .flex-basis-33 {
    @media (max-width: 1650px) and (min-width: 1200px) {
      flex-basis: 33% !important;
    } 
  }

  .p-accordion .p-accordion-header .p-accordion-header-link{
    background: white;
    border: 0.0625rem solid #e4e9f2;
    border-radius: 0.25rem;
  }
}