<div class="row">
    <div class="col-md-12">
        <nb-card class="nb-card-auth">
            <nb-card-header>{{ headerText }}
                <br>
                <div class="text-info">
                    Molimo vas da unesete vaš email, staru lozinku, i novu lozinku.
                </div>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="form" class="form-horizontal">
                    <div class="form-group row">
                        <label class="label col-sm-3 form-control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" nbInput fullWidth name="UserName" formControlName="Email"
                                placeholder="Email"><br>
                            <span
                                *ngIf="(form.get('Email').touched || formSubmitAttempt) && (form.get('Email').errors)"
                                class="text-danger">Molimo vas da unesete validan email.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-sm-3 form-control-label">Stara Lozinka</label>
                        <div class="col-sm-9">
                            <input type="password" nbInput fullWidth name="StariPassword" formControlName="StariPassword"
                                placeholder="Stara Lozinka"><br>
                            <span
                                *ngIf="(form.get('StariPassword').touched || formSubmitAttempt) && (form.get('StariPassword').errors)"
                                class="text-danger">Molimo vas da unesete staru lozinku.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-sm-3 form-control-label">Nova lozinka</label>
                        <div class="col-sm-9">
                            <input type="password" nbInput fullWidth name="NoviPassword" formControlName="NoviPassword"
                                placeholder="Nova Lozinka"><br>
                            <span
                                *ngIf="(form.get('NoviPassword').touched || formSubmitAttempt) && (form.get('NoviPassword').errors)"
                                class="text-danger">Molimo vas da unesete novu lozinku.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <span *ngIf="errorMessage" class="text-danger">{{errorMessage}}</span>
                            <span *ngIf="successMessage" class="text-success">{{successMessage}}</span>
                        </div>
                        <div style="text-align: right;" class="col-sm-4">
                            <button type="submit" (click)="onSubmit()" nbButton status="primary">Potvrdi</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>